################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DBDesiredStateConfiguration/.vs/DBDesiredStateConfiguration/v16
